.datas {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  @include respond(tab-port) {
    flex-direction: column;
  }
  &__sect2 {
    margin-left: 2rem;
    @include respond(tab-port) {
      margin-top: 3rem;
      margin-left: 0;
    }
  }
  &__data-item {
    @include data;
  }
}
