.button {
  border: none;
  @include element;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  width: 10rem;
  display: inline-flex;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}
