.button {
  border: none;
  @include element;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 10rem;
  display: inline-flex;
  color: var(--color-text);
  transition: all 0.3s ease;
}
