.home {
  margin: 11rem auto;
  width: 85%;
  font-size: 1.4rem;
  @include respond(phone) {
    width: 90%;
    margin: 10rem auto;
  }
  &__search-filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include respond(phone) {
      flex-direction: column;
    }
  }
}
