.card {
  @include element;
  overflow: hidden;
  transition: ease 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  height: 40rem;
  width: 22%;
  color: var(--color-text);
  @include respond(tab-land) {
    height: 35rem;
  }
  @include respond(tab-port) {
    width: 30%;
  }
  @include respond(phone) {
    width: 90%;
    max-width: 35rem;
    height: 40rem;
  }
  &__img {
    height: 45%;
    width: 100%;
    display: block;
    @include respond(phone) {
      height: 50%;
    }
  }
  &__details {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  &__name {
    font-weight: 800;
    margin-bottom: 2rem;
  }
  &__data {
    @include data;
  }
}
