.search {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  @include element;
  width: 45%;
  @include respond(phone) {
    width: 100%;
    overflow: hidden;
  }
  &__icon {
    margin-right: 2rem;
    fill: $color-input;
  }
  &__input {
    outline: none;
    border: none;
    color: $color-input;
    background-color: inherit;
  }
}
